<section class="chats-reel">
    <div class="chats-reel__header">
        <div class="chats-reel__profile-link-wrapper">
            {{> link url='/profile' target = '_self' text='Профиль >' mix="chats-reel__profile-link" }}
        </div>
        <div class="chats-reel__search">Поиск</div>
    </div>
    {{> divider}}
    <div class="chats-reel__chats-container">
        {{#if (arrayIsNotEmpty chats)}}
            {{#each chats}}
                {{> chatItem avatar=avatar name=name sender=sender latestMessage=latestMessage timestamp=timestamp unreadMessagesCount=unreadMessagesCount }}
                {{> divider}}
            {{/each}}
        {{else}}
            <p class="chats-reel__empty-messsage">Чатов пока нет</p>
        {{/if}}
    </div>
</section>
