@import '../../design';

.chats-reel
{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;

    border-right: 1px solid $lightGray;

    &__header
    {
        padding: 20px 10px 12px;
    }

    &__profile-link-wrapper
    {
        display: flex;
        justify-content: end;
        margin-bottom: 24px;
    }

    &__profile-link
    {
        color: $gray;
    }

    &__search
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 290px;
        height: 32px;

        color: $gray;
        font-size: 12px;
        line-height: 12px;

        background-color: $lightGray;
        border-radius: 4px;
    }

    &__chats-container
    {
        position: relative;

        height: 100%;
        padding-bottom: 30px;
        overflow: scroll;

        @include hideScrollbar;
    }

    &__empty-state-wrapper
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &__empty-message
    {
        margin-bottom: 8px;
    }

    &__modal-header
    {
        margin-bottom: 24px;

        color: $trueBlack;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
    }

    &__chat-title-input
    {
        margin-bottom: 30px;
    }

    &__modal-button
    {
        width: 100%;
    }

    &__create-chat-button
    {
        position: absolute;
        bottom: 0;

        width: 100%;

        border-radius: 0;
    }

    .modal__content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 340px;
    }
}
