$trueBlack: #1E1E1E;
$blue: #3369F3;
$lightBlue: #E4EDFD;
$gray: #999999;
$lightGray: #EFEFEF;
$red: #FF2F2F;
$white: #FFFFFF;
$baseBlack: #000000;


$incomingMessageColor: #F8F8F8;
$outgoingMessageColor: $lightBlue;
