@import '../../design';

.select
{
    position: absolute;

    display: none;

    padding: 8px 0;

    background-color: $white;

    border-radius: 12px;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);

    &_visible
    {
        display: block;
    }
}
