<div class="signin-page">
    <form class="signin-page__form" action="#" enctype="multipart/form-data">
            <h1 class="signin-page__title">Регистрация</h1>
            {{> input descr='Почта' type='email' mix='signin-page__input' name='email'}}
            {{> input descr='Логин' mix='signin-page__input' name='login'}}
            {{> input descr='Имя' mix='signin-page__input' name='first_name'}}
            {{> input descr='Фамилия' mix='signin-page__input' name='second_name'}}
            {{> input descr='Телефон' type='tel' mix='signin-page__input' name='phone'}}
            {{> input descr='Пароль' type='password' mix='signin-page__input' name='password'}}
            {{> input descr='Пароль (еще раз)' type='password' mix='signin-page__input'}}
            {{> button text='Зарегистрироваться' type='m' mix='signin-page__button'}}
            {{> link url='/login' text='Войти'}}
    </form>
</div>