@import '../design.scss';

.signup-page
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    &__title
    {
        @include headlineM;

        margin-bottom: 40px;
    }

    &__form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 340px;
        height: min-content;
        padding: 50px 30px 30px;

        border-radius: 12px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    }

    &__input
    {
        width: 100%;
        margin-bottom: 16px;
    }

    &__error-message
    {
        width: 100%;
        margin-top: 40px;

        color: $red;

        font-size: 8px;
        line-height: 8px;
        text-align: center;

        visibility: hidden;

        &_visible
        {
            visibility: visible;
        }
    }

    &__button
    {
        width: 100%;
        margin-top: 12px;
        margin-bottom: 14px;
    }
}
