@import '../../../design';

.modal
{
    &__content
    {
        box-sizing: border-box;
        padding: 40px 30px;

        background: $white;
        border-radius: 12px;
        box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    }
}
